.card {
  transition: 0.3s;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vw;

  background: #ffffff;
  box-shadow: 0px 4.10567px 4.10567px rgba(0, 0, 0, 0.25);
  border-radius: 34.8982px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.cardImg {
  flex: 1;
  height: 30%;
  align-items: center;
  padding: 5px;
}

.title {
  flex: 1;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;

  letter-spacing: 0.065em;
  padding: 10px;

  color: #000000;
}

.description {
  flex: 1;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.15vw;
  line-height: 1.4vw;
  padding: 18px;

  color: #000000;
}
